@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Great+Vibes|Rock+Salt');

.img{
    height: 120px;
    margin: 25px;
}
input{
    padding-left: 5px;
}

.btn1{
    margin-bottom: 25px;
    margin-top: 30px;
    width: 110px;
    margin-right: 5px;
    
    border-radius: 5px !important;
}
.btn2{
    margin-bottom: 25px;
    margin-top: 30px;
    margin-left: 5px;
    
    width: 110px;
    border-radius: 5px !important;
}

.container{
    .loginBoxContainer{  
        .title{
            @include flex-center;
            flex:1;
            font-family: 'Berkshire Swash', cursive;
            color: rgb(255, 255, 255);
             border-top: 4px solid #2f322f;
            font-size: 65px;
            box-shadow: 0px 3px 0 0 black;
            padding: 18px;
            background: #61bf9a;
            font-weight: bold;
        }

        .form{
            justify-content: center;
            flex-direction: column;
            flex:4;
            background: #c1bbb9ab;
            @include flex-center;

            .formContainer{
                width: 80%;
                margin-top: 4px;
                height: 100%;
                background: #f8f5ff;
                @include flex-center;
                flex-direction: column;
                
                .inputContainer{
                    @include flex-center;
                    width: 80%;
                    display: flex;
                    
                    input{
                        width: 220px;
                    }
                    .label{
                        font-family: 'Rock+Salt', cursive;
                        width: 120px;
                        font-weight: bold;
                        font-size: 19px;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

